<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="ReportNG" verbose="1">
	<listeners>
		<listener class-name="org.uncommons.reportng.HTMLReporter" />
		<listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
		<listener class-name="TestAnalyzer.transfromed" />
	</listeners>
	<test name="Login_Home_Page">
		<classes>
			<class name="Login_Home_Page.runTestLoginHomePage" />
			<class name="Login_Home_Page.LoginHomepageBackEnd" />
			<class name="Login_Home_Page.runTestLoginScenarios" />
			<class name="Login_Home_Page.LoginScenariosBackEnd" />
		</classes>
	</test>
	<test name="forgotPassword">
		<classes>
			<class name="forgotPassword.runTestforgotpasswordUI" />
			<class name="forgotPassword.forgotPasswordPageBackend" />
		</classes>
	</test>
	<test name="Webinars">
		<classes>
			<class name="Webinars.runTestAddWebinarTemplate" />
			<class name="Webinars.AddNewWebinarBackEnd" />
			<class name="Webinars.runTestAddWebinarTemplate" />
			<class name="Webinars.AddNewWebinarSettingsBackEnd" />
			<class name="Webinars.runTestAddNewWebinarpageAlertErrorsText" />
			<class name="Webinars.AddNewWebinarPageAlertErrorsBackEnd" />
		</classes>
	</test>
		<test name="MeetingRooms">
		<classes>
			<class name="MeetingRooms.runTestMeetingRoomsPage" />
			<class name="MeetingRooms.meetingRoomsBackEnd" />
		</classes>
	</test>
</suite>
